body {
  margin: 0px;
  padding: 10px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container > * {
  margin-bottom: 5px;
}

.half-block {
  flex: 0 0 50%;
}

.third-block {
  flex: 0 0 33%;
}
.whole-block {
  flex: 0 0 100%;
}

.code-input {
  font-family: monospace;
  width: calc(100% - 10px);
  font-size: 14px;
}

.heading {
  margin-top: 5px;
}
